<section id="home-trips">

  <!-- Breadcrumb -->
<p class="breadcrumb-container">
  <%= render_breadcrumbs :separator => ' / ' %>
</p>

  <div class="container pt-3">
    <h1>My Trips</h1>
      <div class="row">
        <% @trips.each do |trip| %>
          <div class="trip-resume">
            <div class="trips-info">
              <%= cl_image_tag trip.photo.key, height: 200, width: 200, crop: :fill, class: 'image-resume'  %>

            </div>
            <h2><%= trip.name %></h2>
          </div>
        <% end %>
    </div>
  </div>
</section>




