<footer class="footer-bs">
  <div class="row">
    <div class="col-md-3 footer-brand animated fadeInLeft">

      <div class="logo-footer">
        <%= render "./components/logo" %>
        <h5 class="logo-title">SpaceAway</h5>
      </div>

      <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
      <p>© 2014 BS3 UI Kit, All rights reserved</p>
    </div>
    <div class="col-md-4 footer-nav animated fadeInUp">
      <h4>Menu —</h4>
      <div class="col-md-6">
        <ul class="pages">
          <li><a href="#home-top">Home</a></li>
          <li><a href="#home-trips">Trips</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Terms & Condition</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-2 footer-social animated fadeInDown">
      <h4>Follow Us</h4>
      <ul>
        <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
        <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
        <li><a href="#"><i class="fab fa-instagram-square"></i> Instagram</a></li>
      </ul>
    </div>
    <div class="col-md-3 footer-ns animated fadeInRight">
      <h4>Newsletter</h4>
      <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
      <p>
        <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control search-bar",
            placeholder: "Search Galaxy Trip"
            %>
        <% end %>

        </p>
      </div>
    </div>
  </footer>
