

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 62px;
  }
}

main {
  display: none;
  width: 80vw;
  left: 10%;
  height: 40vh;
  overflow: auto;
  background: rgba(black, 0.66);
  color: white;
  position: relative;
  padding: 1rem;
}


// ---------------------------cars trip section--------------------------------------
#home-trips{
  padding:2rem;
  .card{
  text-decoration: none !important;
  position: relative;
  width:350px;
  height:450px;
  margin-bottom:3rem;
  border-radius:8px;
  background-color: $secondary-dark;
  color:$text-color;
  .image{
    width:320px;
    padding:.4rem;
    border-radius:8px;
  }
  &-info{
    padding:.8rem;
    .trip-title{
      font-size: .8rem;
      text-align:left;
    }
    .trip-paragraph{
      font-size: .6rem;
    }

  }
}
}

.card:hover {
  text-decoration: none !important;
}



#avatar-image{
  border-radius: 8px;
  // padding:2px;
  border: 4px solid $text-color;
  position: absolute;
  right: 2rem;
  bottom: 5.5rem;
}




