

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 62px;
  }
}

main {
  display: none;
  width: 80vw;
  left: 10%;
  height: 40vh;
  overflow: auto;
  background: rgba(black, 0.66);
  color: white;
  position: relative;
  padding: 1rem;
}


// ---------------------------cars trip section--------------------------------------
#home-trips{
  padding:2rem;
  margin-bottom: 500px;
  .card{
    text-decoration: none !important;
    position: relative;
    transition-duration: 500ms;
    width:336px;
    height:450px;
    margin-bottom:3rem;
    border-radius:8px;
    background-color: $secondary-dark;
    color:$text-color;
    .image{
      width:100%;
      height:55%;
      padding:.4rem;
      border-radius:8px;
    }
    .image-100{
      width:100%;
      height:100%;
      max-height:300px;
      border-radius:8px;
      object-fit: cover;
      vertical-align: middle;
    }
    &-info{
      padding:.8rem;
      .trip-title{
        font-size: 1.2rem;
        text-align:left;
      }
      .trip-paragraph{
        font-size: 0.8rem;
      }

    }
  }
}

.card:hover {
  transform: scale(1.05);
}
.card:hover {
  text-decoration: none !important;
}



#avatar-image{
  border-radius: 8px;
  // padding:2px;
  border: 4px solid $text-color;
  position: absolute;
  right: 2rem;
  bottom: 5.5rem;
}

// search bar
.search-bar{
  max-width: 600px;
  height:2rem;
  margin: 0 auto;
  border-radius:2rem;
  margin-bottom:2rem;
}


///---------------------media queries


@media(max-width: 560px){

  #home-trips{
    margin:0;
    padding:0;
    .container{
      margin:0;
      padding:0;
      width:100%;
    }
    .row{
      display:flex;
      flex-direction:column;
      margin:0;
      padding:0;
      width:100%;
    }
    .col{
      padding:0;
    }
    .card{
      width:100%;
      height:100%;
      padding:1rem;
      margin:0;
      border-radius:0;
      .image{
        width:100%;
        height:55%;
      }
      .avatar{
        display:none;
      }
      .image-100{
        width:100%;
        height:100%;
        vertical-align: middle;
      }
      &:last-child{
        margin-bottom:2rem;
      }
    }

  }
}


@media(max-width: 760px){
  #home-trips{
    padding:0;
    .card{
      width:600px;
      grid-gap:.5rem;
    }
  }
  .row{
    flex-flow:column;
    margin:0 auto;
    padding:0;
  }
  .col{
    display:flex;
    justify-content:center;
  }
}

@media(max-width: 1200px){
  #home-trips{
    padding:0;
    .card{
      width:300px;
      grid-gap:.5rem;
    }
    .col{
      padding:0;
    }
  }
  .avatar{
    display:none;
  }

}






// --------------------------- trips captain / pirat overview section--------------------------------------


.card-trips {
  text-decoration: none !important;
  position: relative;
  width:350px;
  height:auto;
  margin-bottom:3rem;
  border-radius:8px;
  background-color: $secondary-dark;
  color:$text-color;
}



.admission-process {
  display: inline-block;
  font-size: .6rem;
  padding-top: 10px;
}

.card-info h5 {
  font-size: 12px;
}

.booked-pirate {
  float: left;
}

.booking-status {
  float: right;
  list-style: none;

}
