.trip-title {
  text-align: center;
}


.trip-info{
  background-color: #2C2C2C;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.trip-container {
  padding-top: 100px;
}
