.trip-title {
  text-align: center;
}


.trip-info{
  background-color: #2C2C2C;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  transition-duration: 500ms;
}

.trip-info:hover{
  transform: scale(1.08);
}

.trip-container {
  padding-top: 100px;
}

.review-card {
  margin-bottom: 30px;
  background-color: #2C2C2C;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}


.fa-star {
  color: yellow;
  margin: 5px;
}

.image-show {
  margin-bottom:30px;
}

.narrow{
  max-width: 400px;
}

.captain-title {
  display: flex;
  align-items: center;
  justify-content: space-around
}

#medal-icon {
  color: $primary;
  font-size: 18px;

}

#medal-icon-negative {
  color: $secondary;
  font-size: 18px;
}

.captain-medals {
  margin: 10px 0;
}



