.trip-title {
  text-align: center;
  margin: 40px 0;
}


.trip-info{
  background-color: #2C2C2C;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
}

.review-card {
  margin-bottom: 30px;
  background-color: #2C2C2C;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}


.fa-star {
  color: yellow;
  margin: 5px;
}
