<div class="container-lg">
  <div class="row row-cols-4">
   <div class="cards">
      <% @trips.each do |trip| %>
       <div class="card-category col">
          <p><%= trip.name %></p>
        <% end %>
    <p>+</p>
  </div>
</div>
</div>
</div>

