<header role="banner" id="home-banner">
<nav id="navbar-primary" class="navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    </div>
      <ul class="nav navbar-nav">
        <li><a href="#home-trips">
          <svg class="logo" viewBox="0 0 260 104" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M255.187 11.168C223.313 3.23727 193.397 5.34579 168.578 10.975L168.617 10.9638L168.788 8.94762L172.574 5.15842C172.574 5.15842 174.389 4.84523 175.835 4.17687C177.286 3.50852 174.579 0.482769 173.131 0.0353371C171.68 -0.409298 170.681 3.48894 170.681 3.48894L167.563 6.71885C167.563 6.71885 166.338 5.82957 164.33 8.27926C162.404 7.95459 160.444 7.87659 158.497 8.04716C157.454 6.0449 155.997 5.35138 154.741 5.50798L154.459 4.11535C154.667 4.0162 154.843 3.86056 154.966 3.66622C155.09 3.47187 155.156 3.24667 155.158 3.01635C155.133 2.70864 154.992 2.42175 154.765 2.21263C154.538 2.0035 154.241 1.88743 153.932 1.88743C153.623 1.88743 153.326 2.0035 153.098 2.21263C152.871 2.42175 152.731 2.70864 152.706 3.01635C152.706 3.67071 153.223 4.20204 153.866 4.2356L154.154 5.6506C152.776 6.14837 151.811 7.72277 152.272 9.63274C148.737 11.2016 146.207 13.6988 145.284 16.4057C145.284 16.4057 143.833 15.8492 141.559 18.9477L141.573 18.9449C131.314 22.6786 121.338 27.1487 111.724 32.3203C105.734 29.5798 86.606 25.4634 84.1535 25.6088C82.1121 25.7291 49.567 38.9507 38.7112 43.3803C36.5272 44.2724 36.4126 44.8344 38.3729 44.8764C47.3103 45.0609 72.2155 45.5755 73.3984 45.458C74.8413 45.3126 81.3375 51.5179 81.2648 54.4794C81.2648 54.4794 77.9706 56.6075 75.5488 60.3939C72.7887 60.4722 70.848 61.3195 69.57 62.617C69.3449 62.5701 69.1122 62.5739 68.8887 62.6282C68.6653 62.6824 68.4567 62.7857 68.2781 62.9305C68.0995 63.0754 67.9554 63.2581 67.8563 63.4656C67.7571 63.673 67.7054 63.9 67.7048 64.1299C67.7063 64.4791 67.8267 64.8174 68.046 65.0891C67.9756 65.2964 67.9131 65.5063 67.8586 65.7183C67.5353 65.786 67.2424 65.9557 67.0229 66.2025C66.8034 66.4493 66.669 66.7601 66.6396 67.0891C66.6101 67.418 66.6871 67.7478 66.8593 68.0296C67.0315 68.3115 67.2896 68.5306 67.5957 68.6546C67.6153 69.0321 67.6517 69.4124 67.7104 69.7899C67.4023 69.9485 67.1568 70.2064 67.0137 70.5219C66.8705 70.8373 66.838 71.1919 66.9215 71.5282C67.005 71.8644 67.1996 72.1626 67.4737 72.3745C67.7478 72.5863 68.0854 72.6994 68.4319 72.6954L68.4598 72.6926C68.5493 72.9415 68.6472 73.1848 68.7507 73.4281C68.5024 73.6287 68.3228 73.9017 68.2369 74.209C68.151 74.5164 68.163 74.8429 68.2713 75.1432C68.3796 75.4434 68.5787 75.7024 68.8411 75.8842C69.1034 76.066 69.4159 76.1615 69.735 76.1574C69.8928 76.1567 70.0494 76.1312 70.1992 76.0819C70.3083 76.2441 70.4202 76.3979 70.5348 76.5573C70.3646 76.8413 70.2906 77.1726 70.3237 77.502C70.3568 77.8314 70.4953 78.1413 70.7187 78.3857C70.942 78.63 71.2382 78.7958 71.5633 78.8584C71.8884 78.921 72.225 78.877 72.5231 78.733C72.744 78.9287 72.9593 79.1133 73.1719 79.2811L73.1635 79.3734C73.1634 79.6458 73.2353 79.9134 73.3719 80.1492C73.5086 80.3849 73.705 80.5803 73.9414 80.7157C74.1779 80.8511 74.4459 80.9216 74.7183 80.9201C74.9908 80.9186 75.258 80.8452 75.4929 80.7073C78.7032 82.1391 81.1529 81.1463 81.1529 81.1463L75.5488 90.6906C73.7228 92.9725 45.8617 102.444 57.2209 103.35C57.2209 103.35 71.4381 99.3065 75.3055 98.2914C84.545 95.8668 89.1815 91.9546 100.085 80.8415C118.564 81.1435 126.29 78.266 126.29 78.266C126.29 78.266 128.41 79.9327 128.108 82.3572C127.806 84.7789 121.139 86.5994 116.142 88.8701C111.145 91.1408 110.689 93.5682 115.538 92.6565C120.384 91.7449 154.764 81.1435 155.829 79.6278C156.886 78.1122 154.009 72.3571 154.009 72.3571C154.009 72.3571 169.003 69.4823 191.875 62.5108C214.75 55.5476 217.471 36.3109 223.987 32.9775C230.5 29.6469 249.432 24.6469 257.76 16.6183C260.039 15.2592 262.31 10.8632 255.187 11.168Z" fill="url(#paint0_linear)"/>
          <path d="M61.9469 69.9661L0 85.8611L62.8474 74.0042L61.9469 69.9661ZM52.7914 79.0126L14.0773 90.6011L53.4625 81.535L52.7914 79.0126ZM64.061 80.2291L30.6295 92.6145L64.7909 82.4103L64.061 80.2291Z" fill="url(#paint1_linear)"/>
          <defs>
          <linearGradient id="paint0_linear" x1="-5.34344" y1="9.78435" x2="196.778" y2="104.035" gradientUnits="userSpaceOnUse">
          <stop stop-color="#4B279B"/>
          <stop offset="1" stop-color="#DF99D8"/>
          </linearGradient>
          <linearGradient id="paint1_linear" x1="-68.4306" y1="57.5654" x2="-9.71015" y2="84.9472" gradientUnits="userSpaceOnUse">
          <stop stop-color="#4B279B"/>
          <stop offset="1" stop-color="#DF99D8"/>
          </linearGradient>
          </defs>
          </svg>
        </a></li>
      </ul>
  </div>
</nav>
<video src="https://d1titnu6se1qmv.cloudfront.net/uploads/2019/04/home-vbg.mp4" autoplay loop playsinline muted></video>
<header class="viewport-header">
  <button class="btn btn-primary">Discover SpaceTrip</button>
</header>

<!-- grid trip section -->

<section id="home-trips">

  <div class="grid">
  <div class="grid__item">
    <div class="card"><img class="card__img" src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80" alt="Snowy Mountains">
      <div class="card__content">
        <h1 class="card__header">A starry night</h1>
        <p class="card__text">Look up at the night sky, and find yourself <strong>immersed</strong> in the amazing mountain range of Aspen.</p>
        <button class="card__btn">Explore <span>&rarr;</span></button>
      </div>
    </div>
  </div>
  <div class="grid__item">
    <div class="card"><img class="card__img" src="https://images.unsplash.com/photo-1485160497022-3e09382fb310?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80" alt="Desert">
      <div class="card__content">
        <h1 class="card__header">Misty mornings</h1>
        <p class="card__text">Capture the stunning <strong>essence</strong> of the early morning sunrise in the Californian wilderness.</p>
        <button class="card__btn">Explore <span>&rarr;</span></button>
      </div>
    </div>
  </div>
  <div class="grid__item">
    <div class="card"><img class="card__img" src="https://images.unsplash.com/photo-1506318164473-2dfd3ede3623?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3300&amp;q=80" alt="Canyons">
      <div class="card__content">
        <h1 class="card__header">Utah sunsets</h1>
        <p class="card__text">Sunsets over the <strong>stunning</strong> Utah Canyonlands, is truly something much more than incredible.</p>
        <button class="card__btn">Explore <span>&rarr;</span></button>
      </div>
    </div>
  </div>
</div>



</section>


























