
  <video src="https://d1titnu6se1qmv.cloudfront.net/uploads/2019/04/home-vbg.mp4" autoplay loop playsinline muted></video>
<div class="viewport-header">
  <a href="#home-trips" class="btn btn-primary">All Trips</a>
</div>

<!-- grid trip section -->

<section id="home-trips">
  <div class="container trips-container">

    <div class="row">
    <% @trips.each do |trip| %>
        <div class="col">
        <div class="card">
          <div class="image">
            <img style="width:100%; object-fit: cover;"src="https://img.yqqlm.com/index/index/getInterUrl?uicrIvZQ=cc5a13776133d3338c3a880cb6528504" alt="">
          </div>
          <div class="card-info">
            <%= render "./components/avatar" %>
            <h5><%= trip.name %></h5>
            <p class="trip-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing</p>
          </div>
        </div>
        </div>

        <% end %>
    </div>
  </div>
</section>


























