
  <video src="https://d1titnu6se1qmv.cloudfront.net/uploads/2019/04/home-vbg.mp4" autoplay loop playsinline muted></video>
<div class="viewport-header">
  <a href="#home-trips" class="btn btn-primary">All Trips</a>
</div>

<!-- grid trip section -->

<section id="home-trips">
  <div class="container trips-container">

    <div class="row">
    <% @trips.each do |trip| %>
        <div class="col">
        <%= link_to trip_path(trip) do %>
          <div class="card">
            <img id="avatar-image"src="https://images-na.ssl-images-amazon.com/images/I/719vNNdMaZL._SL1500_.jpg" style="width: 2.7rem;height: 2.7rem;"alt="">
            <div class="image">
              <%= cl_image_tag trip.photo.key, height: 300, width: 335, crop: :fill %>
            </div>
            <div class="card-info">
              <h5><%= trip.name %></h5>
              <p class="trip-paragraph"> <%= trip.description %></p>
            </div>
          </div>
        <% end %>
        </div>
        <% end %>
    </div>
  </div>
</section>


























